#item3{
    width: 70vw;
    margin: 5vw;
}
#QuickFormHeader{
    margin-top: 5vw;
}


@media screen and  (max-width: 959px){

}

@media screen and  (max-width: 640px){

}

@media screen and  (max-width: 320px){


}