/*

#appjam_carousel, #mecha_carousel, #VicePresident_carousel, #RiskManagement_carousel{
    border: 1px solid blue;
    display: inline-block;
    width: 10em;
    height: 10em;
    vertical-align:middle;
    display:table-cell;
}

*/

#page2{
    margin-right: 2em;
    width: 100%;

}

#app_jam_items, #mecha_items, #vp_nak_items, #vp_risk_management{
    width:100%;
    vertical-align:middle;
}


#page2_appjam_header, #page2_mecha_header, #page2_vp_nak_header, #page2_vp_risk_header{
    width: 15%;
    vertical-align:middle;
    display:table-cell;
    padding-right: 2em;
}


#app_jam_car_container, #mechar_car_container, #vp_nak_car_container, #risk_man_car_container{

    width: 5%;
    height: 5em;
    /*border: 1px solid blue;*/
    display: inline-block;
    vertical-align:middle;
    display:table-cell;
    text-align: center;
}

#appjam_carousel, #mecha_carousel, #VicePresident_carousel, #RiskManagement_carousel{
    width:90%;
    height:90%;
    display:inline-block;
    max-height: 95%;
    max-width: 95%;


}



.carousel-item img{
    width: 99%;
    max-width: 99%;
    max-height:99%;
    display:inline-block;

}




@media screen and  (max-width: 959px){

}

@media screen and  (max-width: 640px){

}

@media screen and  (max-width: 320px){


}