#ContentTable, #LayoutRow{
    height: 100vh;
    width: 100vw;
}

#MenuColumn{
    height: 100vh;
    width: 35vw;
    -webkit-logical-width: 35%;

}

#ContentColumn{
    height: 100vh;
    width: 60vw;
    -webkit-logical-width: 10em;
}
